<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% if(environment == "production") { %>
        <% root = root_prod %>
    <% } else { %>
        <% root = root_dev %>
    <% } %>

    <meta charset="UTF-8">
    <title>Dominando Bitcoin</title>
    <link media="all" rel="stylesheet" href="<%= root %>assets/css/style.css" type="text/css" />
</head>
<body>
    <!-- .main -->
    <div class="main">
        <!-- .wrapper -->
        <div class="wrapper">
            <%- yield %>

            <h2>Sumário</h2>
            <ul class="sumary-list">
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>prefacio" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            Prefácio
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>glossario" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            Glossário Rápido
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo01" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            1. Introdução
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo02" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            2. Como Bitcoin funciona
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo03" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            3. O Cliente Bitcoin
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo04" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            4. Chaves, Endereços e Carteiras
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo05" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            5. Transações
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo06" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            6. A Rede Bitcoin
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo07" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            7. O Blockchain
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo08" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            8. Mineração e Consenso
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo09" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            9. Correntes Alternativas, Moedas e Aplicações
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>capitulo10" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            10. A Segurança do Bitcoin
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>apendiceA" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            A. Transaction Script Language Operators, Constants, and Symbols
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>apendiceB" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            B. Bitcoin Improvement Proposals
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>apendiceC" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            C. pycoin, ku, and tx
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>apendiceD" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            D. Available Commands with sx Tools
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                </li>
                <li>
                    <!-- .sumary-list-item -->
                    <a href="<%= root %>indice" class="sumary-list-item">
                        <div class="sumary-list-item__right">
                            Índice
                        </div>
                    </a>
                    <!-- /.sumary-list-item -->
                    <a href="<%= root %>indice"></a>
                </li>
            </ul>
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.main -->
</body>
</html>
